<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>DXPlugin</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>D for Xcode</string>
	<key>CFBundleIconFile</key>
	<string>dplugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.michelf.dxcode</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>D for Xcode</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2.2</string>
	<key>LoadAtLaunch</key>
	<string>YES</string>
	<key>XCGCReady</key>
	<string>YES</string>
	<key>XC4Compatible</key>
	<true/>
	<key>XCPluginHasUI</key>
	<string>NO</string>
</dict>
</plist>
