<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dfile</string>
			<key>CFBundleTypeName</key>
			<string>D Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentType</key>
			<string>com.michelf.source.d-source</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>di</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>difile</string>
			<key>CFBundleTypeName</key>
			<string>D Interface File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentType</key>
			<string>com.michelf.source.d-interface</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>dplugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.michelf.dxcode.launcher</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>NSUIElement</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>D Source File</string>
			<key>UTTypeIdentifier</key>
			<string>com.michelf.d-source</string>
			<key>UTTypeReferenceURL</key>
			<string>http://michelf.com/projects/d-for-xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>d</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.michelf.d-source</string>
			</array>
			<key>UTTypeDescription</key>
			<string>D Interface File</string>
			<key>UTTypeIdentifier</key>
			<string>com.michelf.d-interface</string>
			<key>UTTypeReferenceURL</key>
			<string>http://michelf.com/projects/d-for-xcode/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>di</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
